@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #2F82FF;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: rgb( var(--foreground-rgb)) ;
  font-family: '';
}

.ads_container {
  display: grid;
  grid-template-columns:3fr 1fr;
  height: 30rem;
}

.boxsearch {
  box-shadow: -4px -3px 10px rgba(0, 0, 0, 0.25) inset;
}

.recom {
  display: grid;
  grid-template-columns: 200px 3fr;
  background-color: #2F82FF;
  gap: 5;
}

@media screen and (max-width: 768px) {
  .ads_container {
    display: flex;
    flex-direction: column;
  }

  /* .recom {
    display: grid;
    grid-template-columns: 100px 3fr;
    background-color: #2F82FF;
    gap: 5;
  } */
}