/* bg-white sticky top-0  text-black min-h-full shadow-[0_4px_4px_rgba(0,0,0,0.25)] */
.navbartop {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    z-index: 2;
}